About the data:
The dataset is from eBay Kleinanzeigen,a classifieds section of the German eBay website
The dataset can be found at Kaggle.

In [152]:
import pandas as pd
import numpy as np

In [153]:
autos=pd.read_csv('autos.csv',encoding='Latin-1')

In [154]:
autos.shape

(50000, 20)

In [155]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

Initial Observations:
There are 20 columns,5(numeric) 15(string).
vehicleType,gearbox,model,fuelType,notRepairedDamage seem to be missing values

In [156]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [157]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [158]:
autos = autos.rename(columns={'yearOfRegistration' : 'registration_year',
                        'monthOfRegistration' : 'registration_month',
                        'notRepairedDamage' : 'unrepaired_damage',
                        'dateCreated': 'ad_created',
                        'dateCrawled': 'date_crawled',
                        'lastSeen': 'last_seen', 
                        'offerType':'offer_type',
                        'vehicleType':'vehicle_type',
                       'powerPS':'power_ps',
                        'fuelType':'fuel_type',
                         'postalCode':'postal_code',     
                        'nrOfPictures':'nr_of_pictures'
                       })

In [159]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [160]:
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-23 19:38:20,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

In [161]:
autos.odometer.head()

0    150,000km
1    150,000km
2     70,000km
3     70,000km
4    150,000km
Name: odometer, dtype: object

In [162]:
autos['price']=autos['price'].str.replace('$','').str.replace(',','').astype(float)

In [163]:
autos['odometer']=autos['odometer'].str.replace('km','').str.replace(',','').astype(float)

In [164]:
autos.rename({'odometer':'odometer_km'},axis=1,inplace=True)

In [165]:
autos.odometer_km.describe()

count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

the odometer column looks reasonable

In [166]:
autos.price.max()  #99mil is an unreasonable value for a car

99999999.0

In [167]:
autos.price.min() #no one sells their car for 0

0.0

In [168]:
autos.price.describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

In [169]:
autos=autos[(autos['price']>=1000) & (autos['price']<=1e6)]

Filtering out the data with unreasonable prices.
The filtered data will include car prices between 1000 and 1000000 inclusive

In [170]:
autos.shape

(38629, 20)

In [171]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000.0,control,bus,2004,manuell,158,andere,150000.0,3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500.0,control,limousine,1997,automatik,286,7er,150000.0,6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990.0,test,limousine,2009,manuell,102,golf,70000.0,7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350.0,control,kleinwagen,2007,automatik,71,fortwo,70000.0,6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350.0,test,kombi,2003,manuell,0,focus,150000.0,7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [172]:
autos[['date_crawled','ad_created','last_seen']].head(2)

          date_crawled           ad_created            last_seen
0  2016-03-26 17:47:46  2016-03-26 00:00:00  2016-04-06 06:45:54
1  2016-04-04 13:38:56  2016-04-04 00:00:00  2016-04-06 14:45:08

In [173]:
autos[['date_crawled','ad_created','last_seen']].dtypes

date_crawled    object
ad_created      object
last_seen       object
dtype: object

In [174]:
autos[['date_crawled','ad_created','last_seen']]=autos[['date_crawled','ad_created','last_seen']].apply(pd.to_datetime)

In [175]:
autos[['date_crawled','ad_created','last_seen']].dtypes

date_crawled    datetime64[ns]
ad_created      datetime64[ns]
last_seen       datetime64[ns]
dtype: object

In [205]:
autos['date_crawled']=autos['date_crawled'].dt.date

In [206]:
autos['ad_created']=autos['ad_created'].dt.date

In [207]:
autos['last_seen']=autos['last_seen'].dt.date

In [208]:
autos[['date_crawled','ad_created','last_seen']].describe()

       date_crawled  ad_created   last_seen
count         37209       37209       37209
unique           34          72          34
top      2016-04-03  2016-04-03  2016-04-06
freq           1460        1471        8781

In [177]:
autos['registration_year'].describe()

count    38629.000000
mean      2005.678713
std         86.681928
min       1000.000000
25%       2001.000000
50%       2005.000000
75%       2009.000000
max       9999.000000
Name: registration_year, dtype: float64

In [178]:
autos=autos[(autos['registration_year']>=1920) & (autos['registration_year']<=2016)]

In [179]:
autos.registration_year.value_counts(normalize=True).head()

2005    0.074847
2006    0.071246
2004    0.070091
2003    0.066570
2007    0.060711
Name: registration_year, dtype: float64

In [183]:
autos.groupby('brand')['price'].max().sort_values(ascending=False).iloc[0:19]

brand
ford              999999.0
volkswagen        999999.0
porsche           350000.0
sonstige_autos    345000.0
bmw               259000.0
mercedes_benz     180000.0
audi              175000.0
land_rover         99000.0
renault            93000.0
jaguar             58900.0
chevrolet          56500.0
jeep               55800.0
alfa_romeo         55000.0
toyota             49500.0
honda              41900.0
opel               38990.0
mazda              38900.0
mitsubishi         37800.0
nissan             34999.0
Name: price, dtype: float64

In [197]:
price_mean=autos.groupby('brand')['price'].mean()

In [192]:
df=pd.DataFrame(price_mean,columns=['mean_price'])

In [196]:
df.head()

Empty DataFrame
Columns: [brand, mean_price]
Index: []

In [198]:
price_mean

brand
alfa_romeo         5255.379310
audi              10322.269347
bmw                9119.202187
chevrolet          7177.414634
chrysler           4560.076271
citroen            4614.970986
dacia              5959.098361
daewoo             1539.558824
daihatsu           2546.761905
fiat               4008.174745
ford               5786.703432
honda              5297.282051
hyundai            6181.872500
jaguar            12295.971014
jeep              11965.563107
kia                6810.160839
lada               3032.391304
lancia             6135.480000
land_rover        19108.091837
mazda              5309.526415
mercedes_benz      9302.614403
mini              10715.237037
mitsubishi         4812.507812
nissan             6428.428008
opel               4219.954737
peugeot            3955.169557
porsche           46955.151079
renault            3590.942322
rover              2862.555556
saab               4528.980392
seat               5638.640747
skoda              6836.696756
smart              3780.469256
sonstige_autos    14454.552699
subaru             5858.203125
suzuki             5149.877934
toyota             5573.571691
trabant            3131.937500
volkswagen         6898.376546
volvo              6151.583832
Name: price, dtype: float64

In [200]:
words_translated = {
    'bus':'bus',
    'limousine':'limousine',
    'kleinwagen':'supermini',
    'kombi':'station_wagon',
    'coupe':'coupe',
    'suv':'suv',
    'cabrio':'cabrio',
    'andere' :'other',
    'manuell':'manual',
    'automatik':'automatic',
    'lpg':'lpg',
    'benzin':'petrol',
    'diesel':'diesel',
    'cng':'cng',
    'hybrid':'hybrid',
    'elektro':'electro',
    'nein':'no',
    'ja':'yes'
}
for each in ['vehicle_type','gearbox','fuel_type','unrepaired_damage']:
    autos[each] = autos[each].map(words_translated)

In [209]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000.0,control,bus,2004,manual,158,andere,150000.0,3,lpg,peugeot,no,2016-03-26,0,79588,2016-04-06
1,2016-04-04,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500.0,control,limousine,1997,automatic,286,7er,150000.0,6,petrol,bmw,no,2016-04-04,0,71034,2016-04-06
2,2016-03-26,Volkswagen_Golf_1.6_United,privat,Angebot,8990.0,test,limousine,2009,manual,102,golf,70000.0,7,petrol,volkswagen,no,2016-03-26,0,35394,2016-04-06
3,2016-03-12,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350.0,control,supermini,2007,automatic,71,fortwo,70000.0,6,petrol,smart,no,2016-03-12,0,33729,2016-03-15
4,2016-04-01,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350.0,test,station_wagon,2003,manual,0,focus,150000.0,7,petrol,ford,no,2016-04-01,0,39218,2016-04-01

In [210]:
autos['brand'].value_counts(normalize=True)

volkswagen        0.210836
bmw               0.125346
mercedes_benz     0.111586
audi              0.097584
opel              0.089064
ford              0.058722
renault           0.037276
peugeot           0.027896
fiat              0.021070
skoda             0.019055
seat              0.017281
smart             0.016609
toyota            0.014620
mazda             0.014244
citroen           0.013894
nissan            0.013626
mini              0.010884
hyundai           0.010750
sonstige_autos    0.010454
volvo             0.008976
kia               0.007686
porsche           0.007471
honda             0.007337
mitsubishi        0.006880
chevrolet         0.006611
alfa_romeo        0.006235
suzuki            0.005724
dacia             0.003279
chrysler          0.003171
jeep              0.002768
land_rover        0.002634
jaguar            0.001854
subaru            0.001720
daihatsu          0.001693
saab              0.001371
daewoo            0.000914
trabant           0.000860
rover             0.000726
lancia            0.000672
lada              0.000618
Name: brand, dtype: float64

In [211]:
brand_counts = autos['brand'].value_counts(normalize=True)
common_brands = brand_counts[brand_counts > .05].index
print(common_brands)

Index(['volkswagen', 'bmw', 'mercedes_benz', 'audi', 'opel', 'ford'], dtype='object')

In [212]:
brand_mean_prices = {}

for bran in common_brands:
    bran_comp = autos[autos['brand'] == bran]
    mean_price = bran_comp['price'].mean()
    brand_mean_prices[bran] = int(mean_price)
    
print(brand_mean_prices)

{'bmw': 9119, 'audi': 10322, 'mercedes_benz': 9302, 'volkswagen': 6898, 'ford': 5786, 'opel': 4219}

In [213]:
brand_mean_mileage = {}

for bran in common_brands:
    bran_comp = autos[autos['brand'] == bran]
    mean_mileage = bran_comp['odometer_km'].mean()
    brand_mean_mileage[bran] = int(mean_mileage)
    
print(brand_mean_mileage)

{'bmw': 132001, 'audi': 127491, 'mercedes_benz': 130062, 'volkswagen': 125771, 'ford': 119622, 'opel': 123952}

In [214]:
mean_mileage = pd.Series(brand_mean_mileage).sort_values(ascending=False)
mean_price = pd.Series(brand_mean_prices).sort_values(ascending=False)

In [215]:
aggregated_data = pd.DataFrame(mean_mileage,columns=['mean_mileage'])

In [216]:
aggregated_data['mean_price'] = mean_price

In [217]:
aggregated_data

               mean_mileage  mean_price
bmw                  132001        9119
mercedes_benz        130062        9302
audi                 127491       10322
volkswagen           125771        6898
opel                 123952        4219
ford                 119622        5786